#page {
  overflow: hidden;
}

.headerimg {
  background: #eee;
  img {
    width: 100%;
  }
}

.no-gutter-left {
  padding-right: 0 !important;
  padding-left: 0 !important;
  @include md {
    padding-left: 0 !important;
    padding-right: 15px !important;
  }
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
