footer {
  border-top: 6px solid #fff;
  background: #494747;
  color: #fff;
  .footer__right {
    font-size: 12px;
    text-align: center;
    @include md {
      border-left: 3px solid #fff;
    }
    .col-md-4:first-of-type {
      background-color: #969393;
    }
    .col-md-4:last-of-type {
      background-color: #595656;
    }
    .col-md-4 {
      background-color: #6c6969;
      padding-top: 15px;
      min-height: 50px;
    }
    .byline {
      a {
        color: #fff;
      }
      a:hover {
        color: #abbe0e;
      }
    }
    .tel {
      a {
        font-size: 16px;
        font-weight: 700;
        display: inline-block;
      }
      a:hover {
        color: #abbe0e;
      }
    }
  }

  .footer__left {
    font-size: 22px;
    min-height: 50px;
    @include sm {
      padding: 20px 0 !important;
    }
    a {
      color: #fff;
      display: block;
      text-align: center;
    }
    a:hover {
      color: #abbe0e;
    }
  }

  .menu {

    ul#menu-products {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        font-weight: 600;
        text-align: center;
        @include sm {
          font-weight: 600;
          text-align: center;
          width: 33%;
          float: left;
        }
        @include md {
          width: 16.666%;
          display: inline-block;
        }
      }
    }

    li:nth-child(1) {
      a {
        color: #39b0e5;
      }
    }
    li:nth-child(2) {
      a {
        color: #f8d716;
      }
    }
    li:nth-child(3) {
      a {
        color: #c085b9;
      }
    }
    li:nth-child(4) {
      a {
        color: #5fb878;
      }
    }
    li:nth-child(5) {
      a {
        color: #ed6a4d;
      }
    }
    li:nth-child(6) {
      a {
        color: #f46aa8;
      }
    }
    li a:hover {
      color: #fff;
    }
  }

  a {
    // margin-top: 8px;
    color: #fff;
  }
}
