.content-news {
  padding: 50px 0;
  font-size: 15px;
  background: #fff;
  margin: 15px 0;
  .date {
    background: #d0d0d0;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    padding: 25px 15px 15px;
    margin-top: -100px;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
  }
  strong {
    font-size: 20px;
  }
  h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: #515252;
    border-bottom: 3px solid #949393;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  p:first-of-type {
    font-size: 20px;
  }
}

p.filter {
  color: #7e7d7d;
  font-size: 14px;
  font-weight: 500;
}

.content-news-parent {
  padding: 50px 0;
  font-size: 15px;
  background: #fff;
  margin: 15px 0;
  h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: #d9d9d9;
    margin-bottom: 25px;
  }
  h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: #7e7d7d;
    width: 70%;
  }
  ul {
    margin: 0;
    list-style: none;
    padding: 25px 0 50px;
    border-top: 2px solid #7e7d7d;
    border-bottom: 2px solid #7e7d7d;
    margin-top: 15px;
    a {
      color: #c2c1c1;
      font-weight: 500;
      font-size: 18px;
    }
    a:hover {
      color: #abbd0f;
    }
    li {
      float: left;
      margin-right: 15px;
      ul.children {
        display: none;
      }
    }
    li:hover {
      position: relative;
      ul.children {
        display: block;
        list-style: none;
        position: absolute;
        top: 20px;
        left: 0;
        background-color: #abbd0f;
        padding: 10px 20px;
        margin: 0;
        z-index: 9999;
        border-top: none;
        border-bottom: none;
        li {
          display: block;
          width: 100%;
          color: #fff;
          a {
            color: #fff;
          }
          a:hover {
            color: #c2c1c1;
          }
        }
      }
    }
  }
}


.pagination {
  background: #000;
  color: #fff;
  padding: 20px;
  border-radius: 0 !important;
  width: 100%;
  text-align: center;
  .current {
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
  }
  a {
    color: rgba(255,255,255,.6);
    padding-right: 5px;
    padding-left: 5px;
  }
  a:hover {
    color: #fff;
  }
}

.news-entry {
  height: 350px;
  text-align: center;
  margin-bottom: 15px;
  padding-left: 7.5px !important;
  padding-right: 7.5px !important;
  .date {
    background: #b4c609;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 30%;
    right: 30%;
  }
  h2 {
    background: #fff;
    color: #676767;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    padding: 15px 15px;
    left: 15%;
    right: 15%;
    margin: 0 auto;
  }
  .hover {
    display: none;
    transition: .5s;
    a {
      color: #fff;
    }
    a:hover {
      color: #abbd0f;
    }
  }
  &:hover .hover {
    display: block;
    background: #1f1d1c;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9999;
    left: 0;
    color: #fff;
    img {
      margin-bottom: 15px;
    }
  }
  .vert-align {
      position: absolute;
      top: 50%;
      width: calc(100% - 30px);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
  }
}
